<nav class="header">
    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if !user_signed_in? %> <%= link_to "sign in", new_user_session_path %> <% end %>
         <% if user_signed_in? %> <%= "Signed in as #{current_user.email}" %> <% end %> <br/>
        <% if user_signed_in? %> <%= link_to "Sign out", destroy_user_session_path, method: "delete" %> <% end %>
        <% if !user_signed_in? %> <%= link_to "Sign up", new_user_registration_path %> <% end %>
       
    </ul>
</nav>

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
    <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>